# Computer Vision
mediapipe==0.10.9
opencv-python==4.9.0.80
numpy==1.26.4

# System Control
pyautogui==0.9.54
pynput==1.7.6

# Voice
SpeechRecognition==3.10.1
vosk==0.3.45

# UI / Overlay
PyQt6==6.7.1

# Utilities
PyYAML==6.0.1
filterpy==1.4.5

# Packaging
pyinstaller==6.5.0

# Optional utilities
mss==9.0.1
screeninfo==0.8.1
keyboard==0.13.5

# Testing
pytest==8.1.1
pytest-mock==3.14.0